 <header>
      <div class="container forms_create mb-5">
          <div class="row justify-content-center">
              <div class="col-10 mt-3">
                  <div class="header_main">
                      <h1>Добро пожаловать</h1>
                      <p>Найдите квартиру мечты здесь</p>
                      <p>Разместите свои объявления по аренде недвижимости, это абсолютно БЕСПЛАТНО)</p>
                      <p>Наша команда старается для Вашего удобства</p>
                  </div>
              </div>
          </div>
      </div>
  </header>




